name: make lint
on: push
jobs:
  my-job:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
      - uses: actions/setup-node@v1
        with:
          node-version: '17.x'
      - run: npm ci
      - run: make lint